{% load custom_tags %}
{% load adminlte_helpers i18n %}
{% load static %}
<html>
<head>
    {% block title_outer %}
    <title>{% block title %}guten tag{% endblock %}</title>
    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <style>
        #search {
            background-color : pink;
        }
    </style>
    <script type="text/javascript" src = "{% static 'auto_station.js' %}"></script>
    <script type="text/css" src = "{% static 'autocomplete_css.css' %}"></script>
    <script>
            var addr = {{ addre|safe }};
            var gu_list = []
            var dong_list = []
            var now_temp = {{now_temp}}

<!--            var STATN_NM = {{ STATN_NM | safe }};-->
            var test = {{ test | safe }}
            var bus_name_ID = {{ bus_name_ID | safe }}

            var x = document.getElementById("demo");
            function getLocation() {
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
              } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }

            function showPosition(position) {
              x.innerHTML = "Latitude: " + position.coords.latitude +
              "<br>Longitude: " + position.coords.longitude;
            }

    </script>
    <script type="text/javascript" src = "{% static 'categoryChange.js' %}"></script>

    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body onload="suggestion();" class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">

{% block body %}
<div class="wrapper">
    {% block nav_header %}
    {% include 'adminlte/lib/_main_header.html' %}
    {% endblock %}

    {% block nav_sidebar %}
    {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}

    {% block content_wrapper %}
    <div class="content-wrapper">
        {% block content_header %}
        <section class="content-header">
            {% block no_heading %}
            <h1>
                {% block page_name %}{% endblock %}
                <div class="header-actions">
                    {% block page_actions %}{% endblock %}
                </div>
                {% block no_description %}
                <small>{% block page_description %}{% endblock %}</small>
                {% endblock %}
            </h1>
            {% block breadcrumbs %}
            {# Breadcrumb implementation left to developers #}
            {% endblock %}
            {% endblock no_heading %}
        </section>
        {% endblock %}

        {% block content_outer %}
        <section class="content">
            {% block messages %}
            {% include 'adminlte/lib/_messages.html' %}
            {% endblock %}
            {% block content_block_wrap %}
            {% block content %}
            <!-- Main content -->
            <div class="content">
                <div class="row">
                    <!---지역선택--->
                    <div class="card card-secondary" style="margin:20px;">
                        <div class="card-header">
                            <h3 class="card-title">당신의 동네는 어디오?</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form role="form" method="GET" action = "{% url 'get_weather' %}">
                                <div class="row">
                                    <div class="row-sm-7">
                                        <!-- select 도시 -->
                                        <div class="form-group" style="padding:10px;">
                                            <label>시</label>
                                            <select class="custom-select" id="city_select" name="city_select" onchange=categoryChange('gu_select')>
                                                <option disabled="True" selected>====</option>
                                                {% for city in cities %}
                                                <option id="selected_city">{{ city }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row-sm-7">
                                        <!-- select 구역 -->
                                        <div class="form-group" style="padding:10px;">
                                            <label>구</label>
                                            <select class="custom-select" id ="gu_select" name="gu_select" onchange=category_dong('dong_select')>
                                                <option disabled="False" selected>====</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row-sm-7">
                                        <!-- select 동 -->
                                        <div class="form-group" style="padding:10px;">
                                            <label>동</label>
                                            <select class="custom-select" id="dong_select" name="dong_select">
                                                <option disabled="True" selected>---</option>
                                            </select>
                                        </div>
                                        <!-- button 조회 -->
                                        <div class = "row-sm-5">
                                            <div class="button">
                                                <input type="Submit" name="submit" value="조회"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!---검색어 입력 시작--->
                    <div class="card card-secondary" style="margin:20px;">
                        <div class="card-header">
                            <h3 class="card-title">지하철 역 / 버스 정류소</h3>
                        </div>
                        <!-- /.교통 검색창 start -->
                        <div class="card-body" id="search">
                            <p>지하철 <code>.input-group.input-group-sm</code></p>
                            <form role="form" method="GET" action="{% url 'transportaion' %}" autocomplete="off" >
                                <div class="input-group input-group-sm" id = "div_input">
                                    <input type="text" name="myInput" id="myInput" placeholder="역 이름을 입력해주세요" required value="">
                                    <button class="btn btn-info btn-flat" >Go!</button>
                                </div>
                            </form>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <!--/.교통 검색창 end -->
                </div>
                <!--날씨 출력 시작 -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">날씨 요약</h3>
                                        <a class="detail-link" href="{% url 'weather' %}">더보기</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">
                                        <p class="d-flex flex-row">
                                            {% date as day %}
                                            <span class="text-bold text-lg" style="margin-right : 10px;">{{ day }}</span>
                                            {% today as tim %}
                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                                    <span class="text-success">
                                                      <i class="fas fa-arrow-up"></i> 12.5%
                                                    </span>
                                            <span class="text-muted">Since last week</span>
                                        </p>
                                    </div>
                                    <!-- /.d-flex -->
                                    <div class="position-relative mb-4">
                                        <div class="row">
                                            <div class="column", style="padding:10px;">
                                                <h2 style="color:powderblue",> 기온 </h2>
                                                <p><b> {{now_temp}} ℃ </b></p>
                                            </div>
                                            <div class="column", style="padding:10px;">
                                                <h4 style="color:powderblue"> 최고 </h4>
                                                <p><b> {{max_temp}} </b></p>
                                            </div>
                                            <div class="column", style="padding:10px;">
                                                <h4 style="color:powderblue"> 최저 </h4>
                                                <p><b> {{min_temp}} </b></p>
                                            </div>
                                        </div>
                                        <h3 style="color:powderblue"> 하늘상태 </h3>
                                        <p><b> {{sky_status}} </b></p>
                                        <h3 style="color:powderblue"> 강수확률 </h3>
                                        <p><b> {{rain_pop}} </b></p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-end">
                                              <span class="mr-2">
                                                <i class="fas fa-square text-primary"></i> This Week
                                              </span>
                                        <span>
                                                <i class="fas fa-square text-gray"></i> Last Week
                                              </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                            <div class="card">
                                <div class="card-header border-0">
                                    <p id="suggestion", name = 'suggestion'> 옷 추천 </p>

                                    <button onclick="getLocation()">Try It</button>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">교통 요약</h3>
                                        <a class="detail-link" href="{% url 'transportaion' %}">더보기</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span class="text-bold text-lg">820</span>
                                            <span>Visitors Over Time</span>
                                        </p>
                                        <p class="ml-auto d-flex flex-column text-right">
                                                    <span class="text-success">
                                                      <i class="fas fa-arrow-up"></i> 12.5%
                                                    </span>
                                            <span class="text-muted">Since last week</span>
                                        </p>
                                    </div>
                                    <!-- /.d-flex -->
                                    <div class="position-relative mb-4">
                                        <canvas id="visitors-chart" height="200"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                              <span class="mr-2">
                                                <i class="fas fa-square text-primary"></i> This Week
                                              </span>
                                        <span>
                                                <i class="fas fa-square text-gray"></i> Last Week
                                              </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
            {% endblock %}
            {% endblock %}
        </section>
        {% endblock %}
    </div>
    {% endblock content_wrapper %}

    {% block nav_footer %}
    {% include 'adminlte/lib/_main_footer.html' %}
    {% endblock %}

</div>
{% endblock body %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
<script>
 autocomplete(document.getElementById("myInput"), test);
</script>
</html>