<!DOCTYPE html>
{% load adminlte_helpers i18n %}
{% load static %}
{% load custom_tags %}
<html>
<head>
    {% block title_outer %}
    <title>{% block title %}guten tag{% endblock %}</title>
    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script type="text/javascript" src = "{% static 'data.js' %}"></script>
    <script>
        var arv_Msg = {{ arv_Msg | safe }};
        var arv_Msg2 = {{ arv_Msg2 | safe }};
        var last_LineNm = {{ last_LineNm | safe }};
        var up_Line = {{ up_Line | safe }};
        var station = "{{ station }};"
        var subway_line = "{{ subway_line }};"
        var line_code = {{ line_code }}
        var result = {{ result | safe }};

    </script>
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>
<body onload="bring_data();" class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">

{% block body %}
<div class="wrapper">
    {% block nav_header %}
    {% include 'adminlte/lib/_main_header.html' %}
    {% endblock %}

    {% block nav_sidebar %}
    {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}


        {% block content_header %}
        <section class="content-header">
            {% block no_heading %}
            <h1>
                {% block page_name %}{% endblock %}
                <div class="header-actions">
                    {% block page_actions %}{% endblock %}
                </div>
                {% block no_description %}
                <small>{% block page_description %}{% endblock %}</small>
                {% endblock %}
            </h1>
            {% block breadcrumbs %}
            {# Breadcrumb implementation left to developers #}
            {% endblock %}
            {% endblock no_heading %}
        </section>
        {% endblock %}

        {% block content_outer %}
        <section class="content">
            {% block messages %}
                {% include 'adminlte/lib/_messages.html' %}
            {% endblock %}
            {% block content_block_wrap %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
              <!-- Content Header (Page header) -->
              <section class="content-header">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <h1>지하철 도착 정보</h1>
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Layout</a></li>
                        <li class="breadcrumb-item active">Boxed Layout</li>
                      </ol>
                    </div>
                  </div>
                </div><!-- /.container-fluid -->
              </section>

              <!-- Main content -->
              <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="card-title" style="color:blue;"> {{ subway_line }} {{ station }} {{ line_code }}</h2>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                            <i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body" >
                                    <!-- Main content -->
                                    <section class="content">
                                        <div class="container-fluid">
                                            <h5 class="mb-2"></h5>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6 col-12">
                                                    <div class="info-box" >
                                                          <span class="info-box-text" >
                                                                    <h5 id="up_title">상행/내선</h5>
                                                          </span>
                                                        <div class="info-box-content" id="first_box" name="first_box" style="vertical-align: middle;">

                                                            <span class="info-box-number"></span>
                                                        </div>
                                                        <div class="info-box-content" id="first_box2" name="first_box2" style="vertical-align: middle;">
                                                              <span class="info-box-text" ></span>
                                                            <span class="info-box-number"></span>
                                                        </div>
                                                        <!-- /.info-box-content -->
                                                    </div>
                                                    <!-- /.info-box -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-md-4 col-sm-6 col-12">
                                                    <div class="info-box">
                                                        <span class="info-box-icon bg-success"></img></span>

                                                        <div class="info-box-content">
                                                            <span class="info-box-text"><h4>{{ station }}</h4></span>
                                                            <span class="info-box-number">arv_Msg2 {{ arv_Msg2 }}</span>
                                                        </div>
                                                        <!-- /.info-box-content -->
                                                    </div>
                                                    <!-- /.info-box -->
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-md-4 col-sm-6 col-12">
                                                    <div class="info-box">
<!--                                                        <span class="info-box-icon bg-warning"></span>-->
                                                        <span class="info-box-text"><h5 id ="down_title">하행/외선</h5></span>
                                                        <div class="info-box-content" id="third_box">
                                                            <span class="info-box-number"></span>
                                                        </div>
                                                         <div class="info-box-content" id="third_box2" name="first_box2" style="vertical-align: middle;">
                                                              <span class="info-box-text" ></span>
                                                            <span class="info-box-number"></span>
                                                        </div>
                                                        <!-- /.info-box-content -->
                                                    </div>
                                                    <!-- /.info-box -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.row -->
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            Footer
                                        </div>
                                        <!-- /.card-footer-->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>

                  <div class="row">
                    <div class="col-12">
                      <!-- Default box -->
                      <div class="card">
                        <div class="card-header">
                          <h2 class="card-title" style="color:blue;"> 확인용 </h2>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                              <i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                              <i class="fas fa-times"></i></button>
                          </div>
                        </div>
                        <div class="card-body" >
                              <!-- Main content -->
                          <section class="content">
                            <div class="container-fluid">
                              <h5 class="mb-2">상행</h5>
                              <div class="col">
                                <div class="col-md-6 col-sm-6 col-12">
                                  <div class="info-box">
                                    <span class="info-box-icon bg-info"><img src="{% static 'arrive.png' %}"></img></span>

                                    <div class="info-box-content">
                                      <span class="info-box-text">
                                            <h5>{{ station }}</h5>
                                      </span>
                                      <span class="info-box-number">arv_MSG {{ arv_Msg }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6 col-sm-6 col-12">
                                  <div class="info-box">
                                    <span class="info-box-icon bg-success"><img src="{% static 'arrow2.png' %}" ></img></span>

                                    <div class="info-box-content">
                                      <span class="info-box-text">Bookmarks</span>
                                      <span class="info-box-number">arv_Msg2 {{ arv_Msg2 }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6 col-sm-6 col-12">
                                  <div class="info-box">
                                    <span class="info-box-icon bg-warning"><img src="{% static 'arrow2.png' %}" ></img></span>

                                    <div class="info-box-content">
                                      <span class="info-box-text">Uploads</span>
                                      <span class="info-box-number">last_LineNm {{ last_LineNm }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                  </div>
                                  <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                  <div class="col-md-6 col-sm-6 col-12">
                                      <div class="info-box">
                                          <span class="info-box-icon bg-warning"><img src="{% static 'arrow2.png' %}" ></img></span>

                                          <div class="info-box-content">
                                              <span class="info-box-text">Uploads</span>
                                              <span class="info-box-number">up_Line {{ up_Line }}</span>
                                          </div>
                                          <!-- /.info-box-content -->
                                      </div>
                                      <!-- /.info-box -->
                                  </div>
                                  <!-- /.col -->
                              </div>
                              <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                          Footer
                        </div>
                        <!-- /.card-footer-->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
                </div>
              </section>
              <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <footer class="main-footer">
              <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.4
              </div>
              <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
              reserved.
            </footer>

            {% endblock %}
        </section>
        {% endblock %}

    {% block nav_footer %}
    {% include 'adminlte/lib/_main_footer.html' %}
    {% endblock %}

</div>
{% endblock body %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
{% endblock %}

{% block extra_js %}{% endblock %}

{% block extra_foot %}{% endblock %}
</body>
</html>